body {
  overflow: hidden;
}

.jumbotron {
  /* background image is downloaded from my flickr */
  background: url('https://c5.staticflickr.com/1/769/23113079740_3181322f1f_k.jpg') no-repeat center center;
  background-size: cover;
  max-width: 100%;
  height: 90vh;
}

.jumbotron  h1 {
  color: #fff;
  font-size: 42px;
  text-shadow: 0 0 10px #000;
}

.jumbotron  p {
  color: #ccc;
}

.jumbotron [class*="col-"] {
  padding-top: 55px;
  overflow: auto;
}
