{% extends "base/base.html" %}
{% load staticfiles %}

{% block custom_css %}
  <link href="{% static 'css/interests.css' %}" rel="stylesheet">
{% endblock custom_css %}

{% block custom_js %}
{% endblock custom_js %}

{% block main_content %}
  <!-- photography -->
  <fieldset>
    <legend>Photography</legend>
    <div class="row">
      <div class="col-md-12">
        <h4>Camera:</h4>
        <p>Nikon D750</p>
        <h4>Camera Lens:</h4>
        <p>Nikon AF-S NIKKOR 35mm f1.8G ED</p>
        <p>Nikon AF-S 18-35mm f/3.5-4.5G ED</p>
        <p>TAMRON SP 90mm F/2.8 Di MACRO 1:1 VC USD (F004)</p>
        <p>TAMRON SP 70-300mm F/4-5.6 Di VC USD (A005)</p>
      </div>
    </div>

    <div class="row">
      {% for photo in photos %}
        <div class="col-md-4">
          <a href="{{ photo }}" class="thumbnail" target="_blank">
            <img src="{{ photo }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </fieldset>

  <!-- ukulele -->
  <fieldset>
    <legend>Ukulele</legend>
    {% for ukulele in ukuleles %}
      <div class="row">
        <div class="col-md-8">
          <h4>{{ ukulele.title }}</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" allowfullscreen
                    src="{{ ukulele.video_url }}"></iframe>
          </div>
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <!-- guitar -->
  <fieldset>
    <legend>Guitar</legend>
    {% for guitar in guitars %}
      <div class="row">
        <div class="col-md-8">
          <h4>{{ guitar.title }}</h4>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" frameborder="0" allowfullscreen
                    src="{{ guitar.video_url }}"></iframe>
          </div>
        </div>
      </div>
    {% endfor %}
  </fieldset>

  <!-- others -->
  <fieldset>
    <legend>Others</legend>
    <div class="row">
      <div class="col-md-12">
        <h4>Play Computer Games:</h4>
        <p>League of Legends</p>
        <p>Path of Exile</p>
        <p>Diablo III</p>
        <h4>Sports</h4>
        <p>Jogging</p>
        <p>Playing Basketball</p>
        <h4>Listen to Music</h4>
        <p>My favorite singer: 
          <a href="http://officialbirdy.com/" target="_blank">Birdy</a>
        </p>
        <h4>Watch Movies and TV Shows</h4>
        <p>I love every movies 
          <a href="http://www.imdb.com/name/nm0634240/" target="_blank">Christopher Nolan</a> made
        </p>
      </div>
    </div>
  </fieldset>
  <h3></h3> 
{% endblock main_content %}
